{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/cartStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Panier</h1>

    {% if cart is not empty %}
    <div class="Cart">
        <div id="cartHeader">
            <p>Produit</p>
            <p></p>
            <p>Quantité</p>
            <p></p>
            <p>Sous-Total</p>
        </div>
        <div id="cartDetail">
    {% for idProduct, productInfo in cart %}
            <div id="cartProduct">
                <div id="productInfo">{{ productInfo.name }}</div>
                <div id="productInfo"><img id="productImage" src="{{ productInfo.pics }}" alt="{{ productInfo.name }}"/></div>
                <div id="productInfo">{{ productInfo.qty }}</div>
                <div id="productInfo"><a href="#"><button type="button" class="btn btn-danger btn-sm">Supprimer du panier</button></a></div>
                <div id="productInfo">{{ productInfo.total }} &euro;</div>
            </div>
    {% endfor %}
        </div>
    </div>

        <div>TOTAL Panier : {{ total }} &euro;</div>
    {% else %}
    <h2>Panier vide</h2>
    {% endif %}
</div>
{% endblock %}
