{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/cartStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Panier</h1>

    {% if cart is not empty %}
    <table class="Cart table table-responsive">
        <thead id="cartHeader">
            <th></th>
            <th>Produit</th>
            <th>Quantité</th>
            <th></th>
            <th>Sous-Total</th>
        </thead>
        <tbody id="cartDetail">
    {% for idProduct, productInfo in cart %}
            <tr id="cartProduct">
                <td id="gallery">
                    <img id="productImage" src="{{ productInfo.pics }}" alt="{{ productInfo.name }}"/>
                </td>
                <td id="productInfo">{{ productInfo.name }}</td>
                <td id="productInfo">{{ productInfo.qty }}</td>
                <td id="productInfo"><a href="{{ path('app_cart_remove' , {'id': idProduct}) }}"><button type="button" class="btn btn-danger btn-sm">Supprimer 1 du panier</button></a></td>
                <td id="productInfo">{{ productInfo.total }} &euro;</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

        <div>TOTAL Panier : {{ total }} &euro;</div>
        <div><a href="{{ path('app_cart_removeAll') }}"><button type="button" class="btn btn-danger btn-sm">Supprimer le panier</button></a></div>
    {% else %}
    <h2>Panier vide</h2>
    {% endif %}
</div>
{% endblock %}
