{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/productsStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="productList">
    <h1>Page Products</h1>



    {% if products is not empty %}
        {% if search is not empty %}
            {% if products|length > 1 %} <h2>Produit trouvé pour '{{ search }}'</h2> {% else %} <h2>Produits trouvés pour '{{ search }}'</h2> {% endif %}
        {% else %}
            Échantillons de produits :
        {% endif %}

        <ol>
            {% for product in products %}
                <li><img id="productImage" src="{{ product.picturesUrls }}" alt="{{ product.productName }}"/> -- {{ product.productName }} -- PRIX : {{ product.price }} € </li>
            {% endfor %}
        </ol>
    {% endif %}
</div>
{% endblock %}
