{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/productsStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="productList">
    <h1 id="MainTitle">Produits</h1>

    {% if products is not empty %}
        {% if search is not empty %}
            {% if products|length > 1 %} <h2>Produit trouvé pour '{{ search }}'</h2> {% else %} <h2>Produits trouvés pour '{{ search }}'</h2> {% endif %}
        {% else %}
            Échantillons de produits :
        {% endif %}
        <div id="productsList">
            {% for product in products %}
                {% if product.display == true %}
                    <a id="productItem" href="{{ path('app_product_show', {'id' : product.id}) }}">
                        <img id="productImage" src="{{ product.picturesUrls }}" alt="{{ product.productName }}"/>
                        <div id="productTitle">
                            {{ product.productName }}
                            <br>
                            PRIX : {% if product.discountedPrice is null %}{{ product.price }}{% else %}{{ product.discountedPrice }}{% endif %} €
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}
