{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/productsStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Fiche {{ product.productName }}
{% endblock %}

{% block body %}
    <h1 id="productName">{{ product.productName }}</h1>
    <div id="bodyProduct">
        <div id="gallery">
            <img src="{{ product.picturesUrls }}" alt="Picture of {{ product.productName }}">
        </div>
        <div id="info">
            <p>{{ product.description }}</p>
            {% if product.discountedPrice is not null %}<span class="badge text-bg-warning">PROMO : - {{ product.discount }} %</span>{% endif %}
            <p>Prix : {% if product.discountedPrice is null %}{{ product.price }}{% else %}{{ product.discountedPrice }}{% endif%} &euro;</p>
            {% if product.discountedPrice is not null %}<p id="oldPrice">Ancien Prix : {{ product.price }} &euro;</p>{% endif %}
            <div id="zonePanier">
                <form action="{{ path('app_cart_add', {'id':  product.id}) }}" method="post">
                    <label>Quantité :
                        <input class="form-control me-2" name="qty" type="number" min="1" placeholder="1">
                    </label>
                    <button class="btn btn-outline-success" type="submit">Ajouter au panier</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

