<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link href="{{ asset('styles/generalStyle.css') }}" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
        <script src="{{ asset('scripts/mainScript.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">Shopping_Demo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_product') }}">Products</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="BannerAlert" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('app_user_index') }}">Users Manager</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_product_manage') }}">Product Manager</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://localhost/phpmyadmin" target="_blank">PHP My Admin</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}">
                        <button class="btn btn-outline-danger" type="submit">Deconnexion</button>
                    </a>
                    <a href="{{ path('app_user_show', {'id' : app.user.id}) }}">
                        <button class="btn btn-outline-success btn-account" id='account' type="submit">
                            <svg id="accountSvg" viewBox="0 0 96 96" fill="none">
                                <path d="M69.3677,51.0059a30,30,0,1,0-42.7354,0A41.9971,41.9971,0,0,0,0,90a5.9966,5.9966,0,0,0,6,6H90a5.9966,5.9966,0,0,0,6-6A41.9971,41.9971,0,0,0,69.3677,51.0059ZM48,12A18,18,0,1,1,30,30,18.02,18.02,0,0,1,48,12ZM12.5977,84A30.0624,30.0624,0,0,1,42,60H54A30.0624,30.0624,0,0,1,83.4023,84Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </a>
                    <a href="{{ path('app_user_show', {'id' : app.user.id}) }}">
                        <button class="btn btn-outline-success btn-cart" id='cart' type="submit">
                            <svg id="cartSvg" viewBox="0 0 24 24" fill="none">
                                <path d="M7.2998 5H22L20 12H8.37675M21 16H9L7 3H4M4 8H2M5 11H2M6 14H2M10 20C10 20.5523 9.55228 21 9 21C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19C9.55228 19 10 19.4477 10 20ZM21 20C21 20.5523 20.5523 21 20 21C19.4477 21 19 20.5523 19 20C19 19.4477 19.4477 19 20 19C20.5523 19 21 19.4477 21 20Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}">
                        <button class="btn btn-outline-danger" type="submit">Connexion</button>
                    </a>
                    <a href="{{ path('app_register') }}">
                        <button class="btn btn-outline-danger btn-account" type="submit">Inscription</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
