{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="cart" value="{{ cart }}">
<button class="btn btn-primary">{{ button_label|default('Valider mes informations') }}</button>
{{ form_end(form) }}