{% extends 'base.html.twig' %}

{% block title %}Listes des comptes{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/usersScript.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/usersStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 id="MainTitle">Liste des comptes</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Verified ?</th>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Email</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>AdresseLine1</th>
                <th>AdresseLine2</th>
                <th>PostalCode</th>
                <th>City</th>
                <th>PhoneNumber</th>
                <th>Avatar</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr id="user {% if user.verified == true %}userVerified{% else %}userNotVerified{% endif %}">
                <td>{% if user.verified == true %}<span class="badge text-bg-success">YES</span>{% else %}<span class="badge text-bg-danger">NO</span>{% endif %}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{% if 'ROLE_ADMIN' in user.roles %}ADMIN{% else %}USER{% endif %}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.AdresseLine1 }}</td>
                <td>{{ user.AdresseLine2 }}</td>
                <td>{{ user.postalCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td><img id="avatarTable" src="{{ user.avatarUrl }}" alt="avatar"></td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}"><button type="button" class="btn btn-primary btn-sm">Show</button></a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"><button type="button" class="btn btn-secondary btn-sm">Edit</button></a>
                    <br><br>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <a href="#" onclick="showAlert('Revoke Admin');"><button type="button" class="btn btn-danger btn-sm">Révoquer Admin</button></a>
                    {% else %}
                        <a href="#" onclick="showAlert('Pass Admin');"><button type="button" class="btn btn-danger btn-sm">Passer Admin</button></a>
                        <a href="#" onclick="showAlert('Ban');"><button type="button" class="btn btn-danger btn-sm">Bannir</button></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
