{% extends 'base.html.twig' %}

{% block title %}Information de compte : {{ user.username }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/usersStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 id="MainTitle">Information de compte : {{ user.username }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if 'ROLE_ADMIN' in user.roles %}ADMIN{% else %}USER{% endif %}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>
                    <a href="#" onclick="showAlert('Send mail pass');"><button type="button" class="btn btn-info btn-sm">Envoi mail pour changement de mot de passe</button></a>
                    <br>
                    <a href="#" onclick="showAlert('Change Pass');"><button type="button" class="btn btn-danger btn-sm">Changer le mot de passe</button></a>
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>AdresseLine1</th>
                <td>{{ user.AdresseLine1 }}</td>
            </tr>
            <tr>
                <th>AdresseLine2</th>
                <td>{{ user.AdresseLine2 }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ user.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>AvatarUrl</th>
                <td><img id="avatarTable" src="{{ user.avatarUrl }}" alt="avatar"><a href="#" onclick="showAlert('Suppr avatar');"><button type="button" class="btn btn-danger btn-sm">Supprimer l'avatar</button></a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}"><button type="button" class="btn btn-primary btn-sm">Back to the list</button></a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}"><button type="button" class="btn btn-info btn-sm">Edit</button></a>

    <a href="#" onclick="showAlert('Ban');"><button type="button" class="btn btn-danger btn-sm">Bannir</button></a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
