{% extends 'base.html.twig' %}

{% block title %}Information de compte : {{ user.username }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/usersStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/usersScript.js') }}"></script>
{% endblock %}

{% block body %}
    <div>
    <h1 id="MainTitle">Information de compte : {{ user.username }}  <span class="badge bg-info rounded-pill" title="ID de votre compte">{{ user.id }}</span></h1></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <span class="badge text-bg-danger">ADMIN</span>
                    {% else %}
                        <span class="badge text-bg-primary">USER</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Password</th>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <a href="#" onclick="showAlert('Send mail pass');"><button type="button" class="btn btn-info btn-sm">Envoi mail pour changement de mot de passe</button></a>
                        <br>
                    {% endif %}
                    <a href="#" onclick="showAlert('Change Pass');"><button type="button" class="btn btn-danger btn-sm">Changer le mot de passe</button></a>
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Informations Personnelles</th>
                <td><button type="button" id="buttonPersonalInfos" onclick="showHideToggle()" class="btn btn-dark">HIDE</button></td>
            </tr>
            <tr class="personalInfos">
                <th>
                    Prénom
                    <br>
                    Nom
                </th>
                <td>
                    {{ user.firstName }}
                    <br>
                    {{ user.lastName }}
                </td>
            </tr>
            <tr class="personalInfos">
                <th>Adresse</th>
                <td>
                    Ligne 1 : {{ user.AdresseLine1 }}
                    <br>
                    Ligne 2 : {{ user.AdresseLine2 }}
                    <br>
                    Code postal : {{ user.postalCode }}
                    <br>
                    Ville : {{ user.city }}
                </td>
            </tr>
            <tr class="personalInfos">
                <th>Téléphone</th>
                <td>{% if user.phoneNumber is empty %}Aucun{% else %}{{ user.phoneNumber }}{% endif %}</td>
            </tr>
            <tr class="personalInfos">
                <th>AvatarUrl</th>
                <td><img id="avatarTable" src="{{ user.avatarUrl }}" alt="avatar"><a href="#" onclick="showAlert('Suppr avatar');"><button type="button" class="btn btn-danger btn-sm">Supprimer l'avatar</button></a></td>
            </tr>
            <tr>
                <th>Commandes récentes</th>
                <td><a href="{{ path('app_order_index') }}"><button type="button" class="btn btn-info">Voir commandes récentes</button></a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}"><button type="button" class="btn btn-primary btn-sm">Back to the list</button></a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}"><button type="button" class="btn btn-info btn-sm">Edit</button></a>

    <a href="#" onclick="showAlert('Ban');"><button type="button" class="btn btn-danger btn-sm">Bannir</button></a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}


